<footer>
  <p>Projeto <strong>"Sistema de portaria"</strong></p>

  <p class="copyright">© 2026 - Todos os direitos reservados</p>

  <div class="divisao-de-nomes">
    <div class="sessao-um">
      <p>Rogério Malto</p>
      <p>Stephanny Borrozzino</p>
    </div>
    <div class="sessao-dois">
      <p>Maria Luiza</p>
      <p>Enzo Barbino</p>
    </div>
  </div>
</footer>
