<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
    
    <main class="main-error404">
        <div ><img class="img-error404" src="/img/telefone-error404.png" alt="Uma mão segurando um telefone com fio"></div>
        <h1 class="h1-error404">404 — Ninguém atende na portaria</h1>
        <p class="p-error404">Tentamos localizar sua página, mas o posto está vazio.</p>
    </main>
    
</body>

</html>