<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <div class="divisao-tela">
      <!-- NÃO APAGUEM ESSA DIV!!! É ela que mantem o layout das views. Coloquem o conteúdo dentro dela a partir do include do nav-->
      <%- include('partials/nav') %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
